@import "tailwindcss";
.carouselWrapper{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.carouselwrapper::-webkit-scrollbar{
    display: none;
}
/* *{
    padding: 0;
    box-sizing:border-box;
} */
body{
    background-color: hsl(40, 33%, 99%);
}